* {
    margin: 0;
    padding: 0;
    font-family: 'Akshar', sans-serif;
}

:root {
    --main-bg-color: #7e22ce;
  }


/* GRID CONTAINER */
.container {
    display: grid;
    grid-template-columns: 1fr 4fr 2fr;
    min-height: 100vh;
}


/* HEADER */

/* header grid */
.header {
    grid-column: 2 / 6;
    background-color: azure;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 10px 24px;
    align-content: center;
    gap: 20px;
}

/* header search-bar */
.header .search-bar {
    display: grid;
    grid-template-columns: 24px minmax(48px, 450px);
    gap: 10px;
    align-content: center;
}

.search-bar input {
    border-radius: 15px;
    background-color: #f4f1f1;
    border: none;
}

/* header account tab */
.header .account {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
}

.account p {
    font-size: 18px;
}



/* header buttons */

.header-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 25px;
    gap: 25px;
    align-self: center;
}

.header-buttons button {
    background-color: var(--main-bg-color);
    color: #fff;
    border: none;
    border-radius: 15px;
    padding: 2px 24px;
    cursor: pointer;
}

/* header greeting */
.header .greeting {
    display: grid;
    grid-template-columns: 80px minmax(48px, 450px);
    gap: 15px;
}

.greeting .user {
    line-height: 2rem;
}

.user span {
    font-size: 14px;
}

.user p {
    font-size: 24px;
    font-weight: bold;
}

/* header images */
.header img {
    object-fit: cover;
    border-radius: 50%;
}
.account img {
    width: 40px;
    height: 40px;
}
.greeting img {
    width: 80px;
    height: 80px;
}


/* SIDERBAR */
.sidebar {
    background-color: var(--main-bg-color);
    color: #fff;
    font-weight: bold;
    grid-column: 1;
    grid-row: 1 / 4;
    display: grid;
    grid-template-rows: 1fr 6fr;
    gap: 20px;
    padding: 10px;

}

.sidebar .sidebar-dash {
    font-size: 20px;
    display: flex;
    gap: 10px;
    align-self: center;
}

.sidebar .nav-item {
    font-size: 16px;
    display: flex;
    gap: 10px;
    margin-top: 15px;
    cursor: pointer;

}

.sidebar .nav-item:nth-child(1) {
    margin-top: 0;
}

.sidebar .nav-item:nth-child(7) {
    margin-top: 50px;
}

.sidebar p, i {
    align-self: center;
}


/* CONTENT */

.card {
    background-color:azure;
    border-radius: 10px;
    padding: 10px;
    align-self: center;
}

/* main content */

.main-content {
    background-color: #1f2937;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(2, 1fr);
    gap: 25px;
    padding: 20px;
}


/* secondary content */

.secondary-content {
    background-color: #1f2937;
    display: grid;
    grid-template-columns: minmax(175px, 1fr);
    gap: 25px;
    padding: 20px;

}
